:root {
  --my-c-brand: var(--my-color-primary);
  --my-c-brand-light: var(--my-color-primary-light-3);
  --my-c-brand-lighter: var(--my-color-primary-light-5);
  --my-c-brand-dark: var(--my-color-primary-dark-2);
  --my-c-brand-darker: #265f99;

  --component-preview-bg: var(--my-code-block-bg);
  --component-preview-soft: var(--my-code-block-bg-light);
}

body {
  color: var(--my-c-text-1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--my-c-text-1);
}

table tr td:nth-child(2) {
  font-family: var(--my-font-family);
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.5em;
  table-layout: fixed;
}

thead,
tbody {
  width: 100% !important;
}

tr {
  border-top: 1px solid var(--my-border-color-light);
  transition: background-color 0.25s;
}

td,
th {
  background-color: #fff !important;
  border: none !important;
  padding: 0;
  width: 1%;
}

td,
th {
  height: 48px;
  min-height: 48px;
  vertical-align: middle;
  color: #303133 !important;
}

.VPSidebar {
  background-color: #fff !important;
}

.container {
  .content-container {
    margin: 0;
    max-width: 100% !important;
  }
}

.vp-doc :not(pre) > code {
  border-radius: 4px;
  padding: 0.15rem 0.5rem;
  background-color: var(--my-fill-color-light);
  transition:
    color 0.25s,
    background-color 0.5s;
  font-size: 14px;
  color: rgb(48, 49, 51) !important;
}

.VPDoc {
  .container > .content {
    padding-left: 0;
    padding-right: 0;
  }
}

.vp-doc ul {
  margin: 0;
}
code {
  color: #0c61c9 !important;
  background-color: #f5f7fa !important;
  font-size: 14px !important;
}

.VPLink :hover {
  color: #409eff !important;
}
a {
  text-decoration: none !important;
}

.outline-marker {
  width: 4px !important;
  height: 14px !important;
  transition:
    top 0.25s ease-in-out,
    opacity 0.25s !important;
  background-color: #409eff !important;
}

.outline-link {
  font-size: 12px !important;
  color: #909399 !important;

  &.active {
    color: #409eff !important;
  }
}

.VPDocAsideOutline {
  .content {
    border: none !important;
  }
}
.curtain {
  background-color: #fff !important;
}

html {
  scroll-behavior: smooth;
}
