.my-message {
  --my-message-bg-color: var(--my-color-info-light-9);
  --my-message-border-color: var(--my-border-color-lighter);
  --my-message-padding: 11px 15px;
  --my-message-close-size: 16px;
  --my-message-close-icon-color: var(--my-text-color-placeholder);
  --my-message-close-hover-color: var(--my-text-color-secondary);
}

.my-message {
  width: fit-content;
  max-width: calc(100% - 32px);
  box-sizing: border-box;
  border-radius: var(--my-border-radius-base);
  border-width: var(--my-border-width);
  border-style: var(--my-border-style);
  border-color: var(--my-message-border-color);
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translate(-50%);
  background-color: var(--my-message-bg-color);
  transition:
    opacity var(--my-transition-duration),
    transform 0.4s,
    top 0.4s;
  padding: var(--my-message-padding);
  display: flex;
  align-items: center;
  gap: 8px;
  .my-message__content {
    padding: 0;
    font-size: 14px;
    line-height: 1;
  }

  &.is-plain {
    background-color: var(--my-bg-color-overlay);
    box-shadow: var(--my-box-shadow-light);
    border-color: var(--my-bg-color-overlay);
  }

  .my-message__close {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #a8abb2;
  }

  .my-message__badge {
    position: absolute;
    top: -8px;
    right: -8px;
  }

  .my-message__close svg {
    cursor: pointer;
  }

  &.fade-up-enter-from,
  &.fade-up-leave-to {
    opacity: 0;
    transform: translate(-50%, -100%);
  }

  &.fade-up-leave-to {
    top: 0;
  }
}

.my-badge {
  --my-badge-bg-color: var(--my-color-danger);
  --my-badge-radius: 10px;
  --my-badge-font-size: 12px;
  --my-badge-padding: 6px;
  --my-badge-size: 18px;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  width: fit-content;
}

.my-badge__content {
  background-color: var(--my-badge-bg-color);
  border-radius: var(--my-badge-radius);
  color: var(--my-color-white);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: var(--my-badge-font-size);
  height: var(--my-badge-size);
  padding: 0 var(--my-badge-padding);
  white-space: nowrap;
  border: 1px solid var(--my-bg-color-overlay);
}

@each $val in info, success, warning, primary, error {
  .my-message--#{$val} {
    --my-message-bg-color: var(--my-color-#{$val}-light-9);
    --my-message-border-color: var(--my-color-#{$val}-light-8);
    --my-message-text-color: var(--my-color-#{$val});
    .my-message__close {
      --my-icon-color: var(--my-color-#{$val});
    }

    .my-message__content {
      color: var(--my-message-text-color);
    }
  }

  .my-badge__content--#{$val} {
    background-color: var(--my-color-#{$val});
  }
}
